@model Employee
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "_CrmLayout";
}

<h1>Update Employee</h1>

<form method="post">
    <label>Name</label>
    <input type="text" asp-for="EmployeeName" class="form-control" />
    <br />
    <label>Surname</label>
    <input type="text" asp-for="EmployeeSurname" class="form-control" />
    <br />
    <label>E-Mail</label>
    <input type="text" asp-for="EmployeeMail" class="form-control" />
    <br />
    <label>Image</label>
    <input type="text" asp-for="EmployeeImage" class="form-control" />
    <br />
    <label>Department</label>
    <input type="text" asp-for="CategoryID" class="form-control" />
    <button class="btn-btn info">Save Employee</button>
</form>