@{
    Layout = "_CRMLayout";
}

<h1>Reports List</h1>

<a href="/Report/ExcelStatic/" class="btn btn-outline-warning">Excel Static List</a>
<br />
<br />
<a href="/Report/ExcelStatic/" class="btn btn-outline-warning">Excel Dynamic List</a>
<br />
<br />
<a href="/Report/StaticPdfReport/" class="btn btn-outline-warning">Pdf Static List</a>
<br />
<br />