@model List<CrmUpSchool.EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "_CrmLayout";
}

<h1>Category List</h1>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Status</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td><a href="#" class="btn btn-warning">Status</a></td>
                <td><a href="#" class="btn btn-danger">Delete</a></td>
                <td><a href="#" class="btn btn-success">Update</a></td>
            </tr>
        }

    </table>

